.form{
    width: 300px;
    height: 200px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    gap:10px;
    border: 1px solid black;

}

.form__label{
    display: flex;
    flex-direction: column;
}